{% extends 'layout.html' %}
{% load static %}
{% block content %}
            <div class="col-md-9 my-profile-w-85">
                <section id="tab-content-container">
                    <div class="p-0">
                        <div class="row">
                            <div class="main-section-title">
                                <a href="" class="section-title">Categories > <span style="color: #7a7a7a; font-size: 18px;"><small>Broad Category > Create</small></span></a>
                            </div>
                            <hr class="main-section-hr">

                            <div class="tab-content mt-4" id="myTabContent">
                                {% if category.id %}
                                <form action="{%  url 'management:edit_category' id=category.id %}" method='post'>
                                    {% else %}
                                    <form action="{%  url 'management:create_category'%}" method='post'>
                                    {% endif %}
                                    {% csrf_token %}
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="" class="form-label cm">Category name in english</label>
                                            <input type="text" class="form-control cm"{% if category.id %} value="{{ category.english_name }}"{% endif %}
                                                placeholder="Enter category name in english" name="english_name">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="" class="form-label cm">Category name in nepali</label>
                                            <input type="text" class="form-control cm"{% if category.id %} value="{{ category.nepali_name }}"{% endif %}
                                                placeholder="Enter category name in nepali" name="nepali_name">
                                        </div>
                                        
                                    </div>

                                    <div class="row justify-content-end">
                                        <div class="col-md-2 d-flex align-items-end">
                                            <button type="submit" class="btn btn-primary w-100">
                                                {% if category.id %}Update{% else %} Create{% endif %}</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>


                        
                    </div>
                </section>

            </div>
   {% endblock %}