{% load static %}
{% include 'header.html' %}

  <div class="container login-container mt-4" style="height: calc(100vh - 271px);">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <div id="tab-content-container">
          <div class="p-0">
            <div class="row">
              <div class="main-section-title justify-content-center text-center flex-column">
                <a href="" class="section-title">Login to your account</a>
                <p class="label">Please enter your login credientials.</p>
                 {% if messages %}
                 {% for message in messages %}
                 <p class="label">{{ message }}</p>
                 {% endfor %}
                 {% endif %}
              </div>
              <hr class="main-section-hr">
              <div class="tab-content mt-3 px-5" id="myTabContent">
                <form action="{% url 'account:login' %}" method="post">
                  {% csrf_token %}
                  <div class="row">
                    <p class="label p-0 mb-2">Username/Email/Phone ( प्रयोगकर्ता नाम/इमेल/फोन )</p>
                    <input type="text" name="email" class="form-control cm" placeholder="Enter username or email or phone">
                  </div>
                  <div class="row mt-3">
                    <p class="label p-0 mb-2">Password ( पासवोर्ड )</p>
                    <input type="password" name="password" class="form-control cm" placeholder="Enter your password">
                  </div>
                  <div class="row mt-3">
                    <button type="submit" class="btn btn-primary">Login</button>
                  </div>
                </form>
​
                <div class="row text-center mt-3">
                  <a href="{% url 'account:signup' %}">
                  <p class="mb-1" style="color:#017c09">Don't have an account?</p>
                  <button type="submit" class="btn btn-primary">Register Account</button></a>
                </div>
​
                {% comment %} <div class="row mt-3 d-flex align-items-center justify-content-between">
                  <div class="col-md-5">
                    <hr>
                  </div>
                  <div class="col-md-1">or</div>
                  <div class="col-md-5">
                    <hr>
                  </div>
                </div>

                <div class="row mt-3">
                  <button type="submit" class="btn btn-primary google-btn">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/0/09/IOS_Google_icon.png" width="5%" alt="">
                    <span class="ms-3">Continue with google</span>
                  </button>
                </div>

                <div class="row mt-3 text-end">
                  <a href="" class="fp">Forget Password ?</a>
                </div> {% endcomment %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid public-nav mt-3">
    <div class="container h-100">
      <nav class="navbar navbar-expand-lg h-100" style="box-shadow: none;">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarNavDropdown" style="height: 60px;">
            <ul class="navbar-nav h-100"
              style="width: 100%!important; justify-content: center; align-items: center;">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="https://dftqc.gov.np/">© २०२४ खाद्य प्रविधि तथा गुण नियन्त्रण विभाग</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
{% include 'footer.html'%}