<div class="col-md-3 my-profile-w-15">
    <div class="sticky-content">
        <div class="profile-nav">
            <div class="profile-navigation">
                <ul>
                    {% url 'management:user_dashboard' as user_dashboard_url %}
                    <li {% if request.path == user_dashboard_url %} class="active" {% endif %}><a href="{% url 'management:user_dashboard' %}"><span class="material-symbols-rounded me-2">
                        grid_view
                        </span>Dashboard</a></li>
                        {% if request.user.role == 3%}
                        {% url 'management:create_complain' as create_complain_url %}
                        <li {% if request.path == create_complain_url %} class="active" {% endif %}><a href="{% url 'management:create_complain' %}"><span class="material-symbols-rounded me-2">
                        add_comment
                        </span>Register Enquiry</a></li>
                        {% endif %}
                        {% if request.user.role == 1%}
                        {% url 'management:anonymous_complain' as anonymous_complain_url %}
                        <li {% if request.path == anonymous_complain_url %} class="active" {% endif %}><a href="{% url 'management:anonymous_complain' %}"><span class="material-symbols-rounded me-2">
                            add_comment
                            </span>Register Enquiry</a></li>
                            {% endif %}
                            {% url 'management:all_complains' as all_complains_url %}
                            <li{% if request.path == all_complains_url %} class="active" {% endif %}><a href="{% url 'management:all_complains'%}"><span class="material-symbols-rounded me-2">
                        other_admission
                        </span>Enquiries</a></li>
                        {% url 'management:category_list' as category_list_url %}
                        <li {% if request.path == category_list_url %} class="active" {% endif %}><a href="{% url 'management:category_list'%}"><span class="material-symbols-rounded me-2">
                            category
                        </span>Categories</a></li>
                        {% if request.user.role == 1%}
                        {% url 'account:all_user' as all_user_url %}
                        <li {% if request.path == all_user_url %} class="active" {% endif %}><a href="{% url 'account:all_user' %}"><span class="material-symbols-rounded me-2">
                        group
                        </span>Users</a></li>
                        {% endif %}
                        {% if request.user.role == 1%}
                        {% url 'management:all_faqs' as all_faqs_url %}
                        <li {% if request.path == all_faqs_url %} class="active" {% endif %}><a href="{% url 'management:all_faqs' %}"><span class="material-symbols-rounded me-2">
                            group
                            </span>FAQs</a></li>
                            {% endif %}
                            {% url 'account:change_password' as change_password_url %}
                            <li {% if request.path == change_password_url %} class="active" {% endif %}><a href="{% url 'account:change_password' %}"><span class="material-symbols-rounded me-2">
                        lock_reset
                        </span>Change Password</a></li>
                        {% url 'account:logout_user' as logout_user_url %}
                        <li {% if request.path == logout_user_url %} class="active" {% endif %}><a href="{% url 'account:logout_user'%}"><span class="material-symbols-rounded me-2">
                        logout
                        </span>Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>